<template>
  <div id="navbar">
    <NuxtLink to="/" class="home">Home</NuxtLink>
    <NuxtLink to="/blog" class="blog">Blog</NuxtLink>
    <NuxtLink to="/links" class="links">Links</NuxtLink>
    <NuxtLink to="/contact" class="contact">Contact</NuxtLink>
  </div>
</template>

<script>
export default {
  name: 'Navbar',
}
</script>

<style scoped>
#navbar {
  width: 100%;
  text-align: center;
  /* font-size: 1.5rem; */
  /* height: 1.5rem;
  transition: height 2s; */
}
/* #navbar:hover {
  height: 9rem;
  transition: height 2s ease;
} */
#navbar * {
  display: block;
  font-size: 0;
  color: transparent;
  transition: font-size 0.5s 0.3s, color 0.2s ease-in;
}
#navbar:hover *,
#navbar:active * {
  font-size: 1.5rem;
  color: var(--light);
  transition: font-size 0.5s, color 0.2s ease-in 0.3s;
}
#navbar > .nuxt-link-exact-active {
  font-size: 1.5rem;
  color: var(--light);
}
#navbar > .blog.nuxt-link-active {
  font-size: 1.5rem;
  color: var(--light);
}
a {
  color: var(--light);
  text-decoration: none;
}

.home {
  background-color: var(--lazur);
}
.blog {
  background-color: var(--green);
}
.links {
  background-color: var(--yellow);
}
.contact {
  background-color: var(--orange);
}
</style>
