<template>
  <div id="pagination">
    <button class="button" @click="previous" :disabled="currentPage <= 1">
      &lt;&lt;
    </button>
    <!-- <input type="number" /> -->
    <div>{{ currentPage }}</div>
    <button
      class="button"
      @click="next"
      :disabled="currentPage >= totalItems / size"
    >
      &gt;&gt;
    </button>
  </div>
</template>

<script>
import { mapMutations, mapState, mapActions } from 'vuex'

export default {
  data() {
    return {
      page: 1,
    }
  },
  computed: {
    ...mapState(['currentPage', 'totalItems', 'size']),
  },
  methods: {
    ...mapMutations(['updateCurrentPage']),
    previous() {
      if (this.currentPage > 1) {
        this.updateCurrentPage(this.currentPage - 1)
      } else {
        console.log('too small')
      }
    },
    next() {
      if (this.currentPage < this.totalItems / this.size) {
        this.updateCurrentPage(this.currentPage + 1)
      } else {
        console.log('too large')
      }
    },
  },
}
</script>

<style scoped>
#pagination {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#pagination > div {
  color: var(--green);
  font-size: 1.4rem;
}
button {
  color: var(--green);
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 2rem;
}
button:disabled {
  color: #ccc;
}
</style>
