<template>
  <div id="tagSearch">
    <div
      class="tag"
      v-for="tag in getTags"
      :key="tag"
      :class="$store.state.arr.includes(tag) ? 'colored' : 'regular'"
      :title="tag"
      @click="toggleTag(tag)"
    >
      <span>
        {{ tag }}
      </span>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex'

export default {
  data() {
    return {
      arr: [],
    }
  },
  computed: {
    ...mapGetters(['getTags']),
  },
  methods: {
    ...mapMutations(['updateArr']),
    ...mapActions(['allTags', 'searchArticles']),
    toggleTag(tag) {
      this.updateArr(tag)
      this.searchArticles()
    },
  },
  async fetch() {
    await this.allTags()
  },
}
</script>

<style scoped>
#tagSearch {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
.tag {
  margin: 0 0.5rem 0.5rem 0;
  padding: 2px 5.5px;
  /* border-left: solid 3.5px var(--green); */
  /* border-right: solid 3.5px var(--greenLighter); */
  cursor: pointer;

  color: transparent;
  background-color: transparent;
  position: relative;
}
.regular {
  color: var(--green);
  /* background-color: var(--greenLighter);
  transition: background-color 1s; */
  transition: color 250ms;
}
.colored {
  color: var(--back);
  /* color: var(--green); */
  /* background-color: var(--green); */
  /* transition: background-color 1s; */
  transition: color 250ms;
}

/* It is more rational to use box-shadow inset for sliding fill, but I wanted to try out pseudo-elements */
.tag::before {
  position: absolute;
  /* content: attr(title); */
  content: ' ';
  overflow: hidden;
  height: 100%;
  padding-left: 3.5px;
  background-color: var(--green);
  /* width: 5px; */
  top: 0;
  left: 0;
  width: 0;
  z-index: -1;
  /* mix-blend-mode: overlay; */
  transition: width 250ms;
}
.tag.colored::before {
  width: calc(100% - 11px);
  height: calc(100% - 4px);
  padding: 2px 5.5px;
  transition: width 250ms;
  /* color: var(--back); */
}

.tag::after {
  position: absolute;
  /* content: attr(title); */
  height: calc(100% - 4px);
  content: ' ';
  background-color: var(--greenLighter);
  /* color: transparent; */
  padding: 2px 5.5px;
  top: 0;
  right: 0;
  width: calc(100% - 11px);
  /* z-index: -1; */
  transition: width 250ms;
}
.tag.colored::after {
  width: 0;
  transition: width 250ms;
  overflow: hidden;
}
</style>
