<template>
  <div id="titleSearch">
    <input
      v-model="query"
      type="search"
      autocomplete="off"
      placeholder="Search..."
    />
  </div>
</template>

<script>
import { mapActions, mapMutations } from 'vuex'

export default {
  data() {
    return {
      query: this.$store.state.query,
    }
  },
  methods: {
    ...mapMutations(['updateQuery']),
    ...mapActions(['searchArticles']),
  },
  watch: {
    async query(query) {
      this.updateQuery(query)
      this.searchArticles()
    },
  },
}
</script>

<style scoped>
#titleSearch input {
  padding: 0.5rem 1rem;
  outline: var(--green);
  width: 100%;
  background-color: var(--back);
  color: var(--green);
  margin: 1rem 0;
  border: solid 2px var(--green);
  border-radius: 5px;
  font-size: 1rem;
}
</style>
