:root {
  --dark: #3b3d43;
  --light: #eae1c8;
  --lazur: #9dd2b5;
  --green: #6aa427;
  --yellow: #f0b747;
  --orange: #de5b1e;

  --lazurDarker: #6ea386;
  --greenLighter: #6aa4272c;
  --yellowLighter: #f0b8473d;
  --yellowDarker: #e7b144;

  --currentColor: #ccc;
  font-family: 'PT Mono', monospace;
}
.light {
  --back: #eae1c8;
  --text: #3b3d43;
}
.dark {
  --text: #eae1c8;
  --back: #3b3d43;
}

/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--currentColor) var(--back);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  background: var(--back);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--currentColor);
  /* border-radius: 2px; */
  /* border: 3px solid var(--back); */
}
