<template>
  <div>
    <Navbar />

    <div class="container">
      <Nuxt />
    </div>

    <div class="stripes">
      <hr style="background-color: var(--lazur);" />
      <hr style="background-color: var(--green);" />
      <hr style="background-color: var(--yellow);" />
      <hr style="background-color: var(--orange);" />
    </div>
    <div class="theme" @click="isDarkTheme = !isDarkTheme">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        width="24px"
        height="24px"
      >
        <path d="M0 0h24v24H0z" fill="none" />
        <path
          d="M20 15.31L23.31 12 20 8.69V4h-4.69L12 .69 8.69 4H4v4.69L.69 12 4 15.31V20h4.69L12 23.31 15.31 20H20v-4.69zM12 18V6c3.31 0 6 2.69 6 6s-2.69 6-6 6z"
        />
      </svg>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'

export default {
  components: { Navbar },
  data() {
    return {
      isDarkTheme: process.browser
        ? JSON.parse(window.localStorage.getItem('isDarkTheme'))
        : false,
    }
  },
  // computed: {
  //   isDarkTheme() {
  //     if (localStorage.getItem('isDarkTheme')) {
  //       return true
  //     } else {
  //       return false
  //     }
  //   },
  // },
  watch: {
    isDarkTheme: {
      handler: function () {
        if (this.isDarkTheme) {
          document.getElementsByTagName('BODY')[0].setAttribute('class', 'dark')

          if (process.browser)
            window.localStorage.setItem('isDarkTheme', 'true')
        } else {
          document
            .getElementsByTagName('BODY')[0]
            .setAttribute('class', 'light')

          if (process.browser)
            window.localStorage.setItem('isDarkTheme', 'false')
        }
      },
      // immediate: true,
    },
  },
  mounted() {
    if (this.isDarkTheme) {
      document.getElementsByTagName('BODY')[0].setAttribute('class', 'dark')
      if (process.browser) window.localStorage.setItem('isDarkTheme', 'true')
    } else {
      document.getElementsByTagName('BODY')[0].setAttribute('class', 'light')
      if (process.browser) window.localStorage.setItem('isDarkTheme', 'false')
    }
  },
}
</script>

<style>
html {
  /* font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif; */
  font-size: 16px;
  line-height: 1.5;
  /* word-spacing: 0.5rem; */
}
body {
  margin: 0;
  background-color: var(--back);
  color: var(--text);
}
.container {
  max-width: calc(800px - 1rem);
  min-height: calc(100vh - 3.5rem - 12px);
  margin: 0 auto;
  padding: 0.5rem;
}
.theme {
  position: fixed;
  bottom: 10px;
  right: 20px;
}
/* .stripes {
  
} */
hr {
  width: 100%;
  border: 0;
  height: 3px;
  margin: 0;
}
</style>
