<template>
  <div id="blogPost">
    <div id="generalInfo">
      <div id="title">{{ page.title }}</div>
      <div id="createdDate">
        {{ formatDate(page.createdAt) }}
      </div>
      <div id="description">{{ page.description }}</div>
      <div id="tags" v-if="page.tags">
        <span v-for="tag in page.tags" :key="tag">{{ tag }} </span>
      </div>
    </div>
    <nuxt-content :document="page" />
  </div>
</template>

<script>
export default {
  async asyncData({ $content, params, error }) {
    const slug = params.slug || 'index'
    const page = await $content('articles', slug)
      .fetch()
      .catch((err) => {
        error({ statusCode: 404, message: 'Page not found' })
      })

    return {
      page,
    }
  },
  methods: {
    formatDate(date) {
      // const options = { year: 'numeric', month: 'short', day: 'numeric' }

      // let year = date.getUTCFullYear()
      // return new Date(date).toLocaleDateString('en-GB', options)
      const months = [
        'JAN',
        'FEB',
        'MAR',
        'APR',
        'MAY',
        'JUN',
        'JUL',
        'AUG',
        'SEP',
        'OCT',
        'NOV',
        'DEC',
      ]
      let when = new Date(date)
      return (
        when.getFullYear() +
        ' ' +
        months[when.getMonth()] +
        ' ' +
        (when.getDate() <= 9 ? '0' + when.getDate() : when.getDate())
      )
    },
  },
  // mounted() {
  //   const images = document.getElementsByTagName('IMG')
  //   for (let i = 0; i < images.length; i++) {
  //     images[i].style.width = '100%'
  //   }
  // },
}
</script>

<style>
#blogPost #generalInfo {
  text-align: center;
}
#blogPost #tags {
  color: var(--green);
  font-size: 0.75rem;
  opacity: 0.9;
  background-color: var(--greenLighter);
  padding: 3px;
}
#blogPost #title {
  font-weight: bold;
  font-size: 2rem;
}
#blogPost #createdDate {
  color: rgb(155, 155, 155);
}
#blogPost #description {
  margin: 20px 0;
}
#blogPost ::-moz-selection {
  /* Code for Firefox */
  color: var(--green);
  background: var(--greenLighter);
}

#blogPost ::selection {
  color: var(--green);
  background: var(--greenLighter);
}

.nuxt-content img {
  width: 100%;
}

.nuxt-content h1::before {
  content: '# ';
  color: var(--green);
}
.nuxt-content h2::before {
  content: '## ';
  color: var(--green);
}
.nuxt-content h3::before {
  content: '### ';
  color: var(--green);
}
.nuxt-content h4::before {
  content: '#### ';
  color: var(--green);
}
.nuxt-content h5::before {
  content: '##### ';
  color: var(--green);
}
.nuxt-content h6::before {
  content: '###### ';
  color: var(--green);
}

.nuxt-content a {
  color: var(--green);
}

.nuxt-content ::-moz-selection {
  /* Code for Firefox */
  color: var(--green);
  background: var(--greenLighter);
}

.nuxt-content ::selection {
  color: var(--green);
  background: var(--greenLighter);
}
</style>
