<template>
  <div id="blog">
    <TitleSearch />

    <TagSearch />

    <NuxtLink
      v-for="(i, index) of getArticles.slice(
        (currentPage - 1) * size,
        currentPage * size
      )"
      :key="index"
      :to="{ name: 'blog-slug', params: { slug: i.slug } }"
    >
      <div class="card">
        <div class="title">{{ i.title }}</div>
        <div class="createdDate">
          {{ formatDate(i.createdAt) }}
        </div>
        <div class="description">{{ i.description }}</div>
        <div class="tags">
          <span v-for="tag in i.tags" :key="tag">{{ tag }} </span>
        </div>
      </div>
    </NuxtLink>

    <Pagination />
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'

import TagSearch from '@/components/TagSearch'
import TitleSearch from '@/components/TitleSearch'
import Pagination from '@/components/Pagination'

export default {
  async fetch({ store }) {
    await store.dispatch('searchArticles')
  },
  computed: {
    ...mapGetters(['getArticles']),
    ...mapState(['tolalItems', 'currentPage', 'size']),
  },
  methods: {
    formatDate(date) {
      // const options = { year: 'numeric', month: 'short', day: 'numeric' }

      // let year = date.getUTCFullYear()
      // return new Date(date).toLocaleDateString('en-GB', options)
      const months = [
        'JAN',
        'FEB',
        'MAR',
        'APR',
        'MAY',
        'JUN',
        'JUL',
        'AUG',
        'SEP',
        'OCT',
        'NOV',
        'DEC',
      ]
      let when = new Date(date)
      return (
        when.getFullYear() +
        ' ' +
        months[when.getMonth()] +
        ' ' +
        (when.getDate() <= 9 ? '0' + when.getDate() : when.getDate())
      )
    },
  },
  mounted() {
    document.documentElement.style.setProperty('--currentColor', 'var(--green)')
  },
  components: {
    TagSearch,
    TitleSearch,
    Pagination,
  },
}
</script>

<style scoped>
a {
  display: block;
  text-decoration: none;
  color: var(--text);
}
.card {
  /* border: solid 2px var(--text); */
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  width: calc(100% - 1rem);
}
.createdDate {
  color: rgb(155, 155, 155);
  white-space: nowrap;
}
.title {
  /* text-align: center; */
  font-weight: bold;
  font-size: 2rem;
  transition: color 0.25s ease;
}
.title:hover {
  transition: color 0.25s ease;
  color: var(--green);
}
.tags {
  color: var(--green);
  font-size: 0.75rem;
  opacity: 0.9;
  background-color: var(--greenLighter);
  padding: 3px;
}
</style>
