<template>
  <div id="home">
    <div class="siteName">
      <div class="first"></div>
      <div class="greeting">Welcome, wanderer!</div>
      <div class="last"></div>
    </div>

    <p>
      Hi there! My name is Vlad Khuramshin, I&#39;m
      {{ age }} y.o. student from Saint-Petersbourg, Russia.
    </p>
    <h2 id="about">About</h2>
    <p>
      Currently I&#39;m seeking for my first job as web developer. Although
      I&#39;m just a newbie and have a little to no experience in production, I
      strongly believe that the most importnant thing here is your willingness,
      your desire to move forward and your ability to aquire new skills as fast
      as possible.
    </p>
    <h2 id="skills">Skills</h2>
    <p>
      I&#39;m familiar with such frontend frameworks as Vue.js, Quasar, Nuxt,
      Svelte and Express on backend. Apart from that I&#39;m able to write code
      in JavaScript (well, it&#39;s obvious), Python (including some basic
      Django stuff), C/C++. Right now I intent to continue my JavaScript journey
      (there&#39;s still plenty to cover) as well as start learnig Typescript.
      Elm lang also really attracts me, as I always wanted to try out functional
      programming.
    </p>
    <h2 id="some-of-my-projects">Some of my projects</h2>
    <p>
      Recently I&#39;ve wrote <a href="http://en.b--y--m.ru">BYM</a> - a
      website, that gives an opportunity to search recipes by ingredients
      (there&#39;s not much content yet). It also has a feature for admin to add
      new recipes through the nice interface. App is written in MEVNstack:
      Vue.js&#39;s spa with vuex and vue-router on client side, Mongodb as
      database, Express.js providing RestApi on node server. Source code is
      available on <a href="https://gitlab.com/Sylith/bym">gitlab</a>.
    </p>
    <p>
      Another recent project is, well, this website. It is fully static
      (JAMstack) site hosted on Gitlab pages. I&#39;ve decided to use nuxt +
      vuex here and nuxt/content as headless git-based CMS for a blog.
      <a href="https://gitlab.com/Sylith/sylith">Here</a> you can check the
      source code.
    </p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      age: '??',
    }
  },
  mounted() {
    let today = new Date()
    let birthDate = new Date('2000-02-14')
    this.age = today.getFullYear() - birthDate.getFullYear()
    let m = today.getMonth() - birthDate.getMonth()
    if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
      this.age--
    }

    document.documentElement.style.setProperty('--currentColor', 'var(--lazur)')
  },
}
</script>

<style scoped>
h2 {
  color: var(--lazur);
}
a {
  color: var(--lazur);
}
a:visited {
  color: var(--lazurDarker);
}
.siteName {
  text-align: center;
  font-size: 2rem;
  color: var(--lazur);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
/* .siteName:first-child,
.siteName:last-child {
  content: '';
  border-bottom: 1px solid var(--lazur);
  border-top: 1px solid var(--lazur);
} */
.greeting {
  white-space: nowrap;
  word-wrap: none;
}
.first {
  margin-top: 1.2rem;
  margin-right: 5px;
  content: '';
  width: 100%;
  height: 0.5rem;
  border-bottom: 1px solid var(--lazur);
  border-top: 1px solid var(--lazur);
}
.last {
  margin-top: 1.2rem;
  margin-left: 5px;
  content: '';
  width: 100%;
  height: 0.5rem;
  border-bottom: 1px solid var(--lazur);
  border-top: 1px solid var(--lazur);
}

@media screen and (max-width: 600px) {
  .greeting {
    white-space: initial;
    min-width: 200px;
  }

  .last,
  .first {
    margin-top: 2rem;
    height: 2rem;
  }
}
</style>
