<template>
  <div id="blog">
    <div id="search">
      <input type="search" v-model="query" />
    </div>
    <div id="tags">
      <div
        class="tag"
        v-for="tag in tags"
        :key="tag"
        @click="searchByTags(tag)"
        :class="clickedTags.includes(tag) ? 'colored' : 'regular'"
      >
        <span>{{ tag }}</span>
      </div>
    </div>

    <div
      class="card"
      v-for="(link, index) of links
        .filter((el) => clickedTags.every((e) => el.tags.includes(e)))
        .filter(
          (el) => el.title.includes(query) || el.description.includes(query)
        )"
      :key="index"
    >
      <a :href="link.href" class="title">{{ link.title }}</a>
      <p class="description">{{ link.description }}</p>
      <div class="tags">
        <span v-for="tag of link.tags" :key="tag">{{ tag }} </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      links: require('@/static/links.json'),
      tags: [],
      clickedTags: [],
      query: '',
    }
  },
  methods: {
    searchByTags(tag) {
      if (this.clickedTags.includes(tag)) {
        this.clickedTags = this.clickedTags.filter((elem) => elem !== tag)
      } else {
        this.clickedTags.push(tag)
      }
    },
  },
  mounted() {
    let unFilteredTags = []
    this.links.forEach((element) => {
      element.tags.forEach((el) => {
        unFilteredTags.push(el)
      })
    })
    this.tags = unFilteredTags.filter((c, index) => {
      return unFilteredTags.indexOf(c) === index
    })
    this.tags.sort()

    document.documentElement.style.setProperty(
      '--currentColor',
      'var(--yellow)'
    )
  },
}
</script>

<style scoped>
.title {
  display: block;
  margin: 1rem 0 0 0;
  font-size: 1.5rem;
  color: var(--text);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.25s ease;
}
.title:hover {
  transition: color 0.25s ease;
  color: var(--yellow);
}
.description {
  margin: 0 0 7px 1.5rem;
}
.tags {
  color: var(--yellowDarker);
  font-size: 0.75rem;
  opacity: 0.9;
  background-color: var(--yellowLighter);
  padding: 3px;
}

#search input {
  padding: 0.5rem 1rem;
  outline: var(--yellow);
  width: 100%;
  background-color: var(--back);
  color: var(--yellow);
  margin: 1rem 0;
  border: solid 2px var(--yellow);
  border-radius: 5px;
  font-size: 1rem;
}

#tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
.tag {
  margin: 0 0.5rem 0.5rem 0;
  padding: 2px 5.5px;
  /* border-left: solid 3.5px var(--green); */
  /* border-right: solid 3.5px var(--greenLighter); */
  cursor: pointer;

  color: transparent;
  background-color: transparent;
  position: relative;
}
.regular {
  color: var(--yellowDarker);
  /* background-color: var(--greenLighter);
  transition: background-color 1s; */
  transition: color 250ms;
}
.colored {
  color: var(--back);
  /* color: var(--green); */
  /* background-color: var(--green); */
  /* transition: background-color 1s; */
  transition: color 250ms;
}

/* It is more rational to use box-shadow inset for sliding fill, but I wanted to try out pseudo-elements */
.tag::before {
  position: absolute;
  /* content: attr(title); */
  content: ' ';
  overflow: hidden;
  height: 100%;
  padding-left: 3.5px;
  background-color: var(--yellow);
  /* width: 5px; */
  top: 0;
  left: 0;
  width: 0;
  z-index: -1;
  /* mix-blend-mode: overlay; */
  transition: width 250ms;
}
.tag.colored::before {
  width: calc(100% - 11px);
  height: calc(100% - 4px);
  padding: 2px 5.5px;
  transition: width 250ms;
  /* color: var(--back); */
}

.tag::after {
  position: absolute;
  /* content: attr(title); */
  height: calc(100% - 4px);
  content: ' ';
  background-color: var(--yellowLighter);
  /* color: transparent; */
  padding: 2px 5.5px;
  top: 0;
  right: 0;
  width: calc(100% - 11px);
  /* z-index: -1; */
  transition: width 250ms;
}
.tag.colored::after {
  width: 0;
  transition: width 250ms;
  overflow: hidden;
}
</style>
